<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}Base{% endblock title %}</title>
		{% endblock head %}
	</head>
	<body>
		{% block header %}
			<header>
				<h1>Example Site</h1>
			</header>
		{% endblock header %}

		{% block main %}
		<main>
			<p>Default template.</p>
		</main>
		{% endblock main %}

		{% block footer %}
			<footer>
				Copyright &copy; 2014
			</footer>
		{% endblock footer %}
	</body>
</html>
